In [18]:
import cx_Oracle
import numpy as np
import pandas as pd
from faker import Faker
from datetime import datetime, timedelta
from random import randrange

from datetime import timedelta
import random

import time



fake = Faker("ko_KR")


# cx_Oracle.init_oracle_client(lib_dir=r"C:\oracle\instantclient_19_20")

connection = cx_Oracle.connect(
    user='ADMIN', password='Kopodapass2023!', dsn='jieuncloud_high')
cursor = connection.cursor()
cursor.close()

cursor = connection.cursor()
sql="select * from INDUSTRY_CODE"
cursor.execute(sql)

rows = cursor.fetchall()
cursor.close()
columns = ['category_id','category1','category2','category3']
trancategory = pd.DataFrame(rows, columns=columns)
trancategory.head()

  category_id category1 category2 category3
0       hn001        외식        외식        한식
1       hn002        외식        외식  일식/양식/중식
2       hn003        외식        외식     패스트푸드
3       hn004     카페디저트     카페디저트       제과점
4       hn005     카페디저트     카페디저트     커피전문점

In [19]:
tranCategory=trancategory.category3.values.tolist()
print(tranCategory)

['한식', '일식/양식/중식', '패스트푸드', '제과점', '커피전문점', '마트/슈퍼', '백화점/아울렛', '생활용품', '인터넷/홈쇼핑', '편의점', '전통시장', '세탁소', '기타서비스', '뷰티/미용', '관리비', '통신', '공과금', '실내스포츠', '실외골프/스키', '기타레저시설', '서점', '영화/공연', '호텔/콘도', '모텔/여관/기타숙박', '여행사', '항공', '대중교통', '택시', '종합병원', '일반병원', '약국', '학원', '대학교', '유아교육', '주유소/LPG충전', '배달', 'OTT']

In [20]:
# serviceList1 = ['한식','일식/양식/중식'] # 한식, 일식/중식/양식
# costList1 = [8000,10000,12000,15000,18000,25000,29000,32000,38000,46000,50000]
# weightsList1=[20,20,20,20,20,15,15,15,10,10,10]

# serviceList2 = ['패스트푸드','제과점','커피전문점']  # 제과점, 커피전문점, 패스트푸드
# costList2 = [1800,2500,4100,3800,5600,7900,8800,9200,10500,12000,15000,18000]
# weightsList2=[20,20,20,20,20,20,20,20,20,15,15,15]

# serviceList3= ['마트/슈퍼']# 마트/슈퍼
# costList3 = [3000,6500,8800,14000,20000,40000]
# weightsList3=[20,30,20,20,20,15]

# serviceList4= ['백화점/아울렛'] # 백화점
# costList4 = [32000,43000,52000,68000,73000,88000]
# weightsList4=[20,20,20,20,15,15]

# serviceList5= ['생활용품', '인터넷/홈쇼핑']# 생활용품, 인터넷/홈쇼핑
# costList5 = [3000,6500,8800,14000,20000,25000]
# weightsList5=[20,30,20,20,20,25]

# serviceList6=['편의점'] # 편의점 random

# serviceList7= ['전통시장']# 전통시장
# costList7 = [3000,6500,8800,14000,16000,19000,25000]
# weightsList7=[20,30,20,20,20,15,10]

# serviceList8=['세탁소', '기타서비스'] # 세탁소, 기타서비스 random.randint(20, 100)*1000

# serviceList9=['뷰티/미용'] #뷰티/미용
# costList9 = [18000,20000,25000,50000,80000]
# weightsList9=[30,30,40,20,15]

# serviceList10= ['관리비']# 관리비 
# costList10 = [50000,80000,100000,120000]
# weightsList10=[5,15,5,5]

# serviceList11=['통신'] #휴대폰, 인터넷 등 통신
# costList11 = [50000,70000,80000,100000]
# weightsList11=[15,20,25,25]

# serviceList12=['공과금'] #공과금
# costList12 = [50000,70000,80000,100000,120000]
# weightsList12=[15,20,25,25,15]

# serviceList13=['실내스포츠', '실외골프/스키', '기타레저시설'] # 실내골프/헬스 실외골프/스키 스포츠시설 종합레저시설

# serviceList14=['서점'] #서점 random 10000 30000

# serviceList15=['영화/공연'] #영화/공연 
# costList15 = [12000,15000,20000,30000,89000,124000]
# weightsList15=[35,40,30,10,10,5]

# serviceList16=['호텔/콘도'] # 호텔/콘도 random 200000~8000000

# serviceList17=['모텔/여관/기타숙박'] # 모텔/여관/기타숙박 random

# serviceList18=['여행사'] #여행사 random.randint(100, 1000)*1000

# # serviceList19=['항공'] #면세점 random.randint(100, 500)*1000

# # serviceList20=['대중교통'] # 학원
# # costList20 = [1200,1500,2100,2400]
# # weightsList20=[25,30,10,25]

# serviceList20=['대중교통'] # 학원
# costList20 = [2100,2400]
# weightsList20=[50,50]

# serviceList21=['택시'] # 택시
# costList21 = [3800,4200,5800,6400,10800]
# weightsList21=[15,20,15,5,5]

# serviceList22=['종합병원', '일반병원', '약국'] # 병원 random.randint(40, 400)*100

# serviceList23=['학원'] # 학원
# costList23 = [200000,2500000,300000,380000]
# weightsList23=[20,20,10,5]

# # serviceList24=['대학교'] # 학원
# # costList24 = [2000000,3000000,4000000,4500000]
# # weightsList24=[5,10,15,10]

# serviceList25=['유아교육'] # 유아교육 교육용품 random 
# costList25 = [30000,50000,80000]
# weightsList25=[20,10,10]

# serviceList26=['주유소/LPG충전'] # 주유
# costList26 = [20000,30000,50000,80000,100000]
# weightsList26=[20,40,35,20,15]

In [21]:
serviceList1 = ['한식','일식/양식/중식'] # 한식, 일식/중식/양식
costList1 = [8000,10000,12000,15000,18000,25000,29000,32000,38000,46000,50000]
weightsList1=[45,40,50,45,35,35,25,15,20,20,15]

serviceList2 = ['패스트푸드','제과점','커피전문점']  # 제과점, 커피전문점, 패스트푸드
costList2 = [1800,2500,4100,3800,5600,7900,8800,9200,10500,12000,15000,18000]
weightsList2=[20,20,20,20,25,45,50,35,20,15,15,15]

serviceList3= ['마트/슈퍼']# 마트/슈퍼
costList3 = [3000,6500,8800,14000,20000,40000]
weightsList3=[20,30,20,20,35,20]

serviceList4= ['백화점/아울렛'] # 백화점
costList4 = [32000,43000,52000,68000,73000,88000]
weightsList4=[20,20,20,20,15,15]

serviceList5= ['생활용품', '인터넷/홈쇼핑']# 생활용품, 인터넷/홈쇼핑
costList5 = [3000,6500,8800,14000,20000,25000]
weightsList5=[20,30,20,20,20,25]

serviceList6=['편의점'] # 편의점 random

serviceList7= ['전통시장']# 전통시장
costList7 = [3000,6500,8800,14000,16000,19000,25000]
weightsList7=[20,30,20,20,20,15,10]

serviceList8=['세탁소', '기타서비스'] # 세탁소, 기타서비스 random.randint(20, 100)*1000

serviceList9=['뷰티/미용'] #뷰티/미용
costList9 = [18000,20000,25000,50000]
weightsList9=[30,30,40,20]

serviceList10= ['관리비']# 관리비 
costList10 = [50000,80000,100000,120000]
weightsList10=[5,15,5,5]

serviceList11=['통신'] #휴대폰, 인터넷 등 통신
costList11 = [50000,70000,80000,100000]
weightsList11=[15,20,25,25]

serviceList12=['공과금'] #공과금
costList12 = [50000,70000,80000,100000,120000]
weightsList12=[15,20,25,25,15]

serviceList13=['실내스포츠', '실외골프/스키', '기타레저시설'] # 실내골프/헬스 실외골프/스키 스포츠시설 종합레저시설

serviceList14=['서점'] #서점 random 10000 30000

serviceList15=['영화/공연'] #영화/공연 
costList15 = [12000,15000,20000,30000,89000,124000]
weightsList15=[30,20,30,10,5,5]

serviceList16=['호텔/콘도'] # 호텔/콘도 random 200000~8000000

serviceList17=['모텔/여관/기타숙박'] # 모텔/여관/기타숙박 random

serviceList18=['여행사'] #여행사 random.randint(100, 1000)*1000

# serviceList19=['항공'] #면세점 random.randint(100, 500)*1000

serviceList20=['대중교통'] # 학원
costList20 = [2100,2400]
weightsList20=[50,50]

serviceList21=['택시'] # 택시
costList21 = [3800,4200,5800,6400,10800]
weightsList21=[15,20,15,5,5]

serviceList22=['종합병원', '일반병원', '약국'] # 병원 random.randint(40, 400)*100

serviceList23=['학원'] # 학원
costList23 = [200000,250000,300000,350000]
weightsList23=[10,10,10,5]

# serviceList24=['대학교'] # 학원
# costList24 = [2000000,3000000,4000000,4500000]
# weightsList24=[5,10,15,10]

serviceList25=['유아교육'] # 유아교육 교육용품 random 
costList25 = [30000,50000,80000]
weightsList25=[20,10,10]

serviceList26=['주유소/LPG충전'] # 주유
costList26 = [20000,30000,50000,80000,100000]
weightsList26=[20,40,35,10,5]

serviceList27=['배달'] # 배달
costList27 = [15000,20000,23000,30000]
weightsList27=[30,40,35,10]

serviceList28=['OTT'] # 구독
costList28 = [9900,12900,19900]
weightsList28=[40,30,30]

In [22]:
trancategory_1=pd.read_csv("trancategory.csv", encoding='CP949')

In [23]:
from faker import Faker
fake = Faker('ko_KR')
companyList1= ['김밥천국','김가네', '김가네', '할매설렁탕', '함흥냉면', f"{fake.company()} 집", f"{fake.company()} 카츠", f"{fake.company()} 한식", f"{fake.company()} 식당"] # 한식, 일식/중식/양식
companyList2= ['스타벅스', '투썸플레이스', '할리스', '파리바게뜨', '뚜레쥬르', '공차', '이디야', '메가커피', '카페베네', f"{fake.company()} 카페", f"{fake.company()} 빵집", f"{fake.company()} 제과점"] # 제과점, 커피전문점, 패스트푸드
companyList3= ['이마트', '홈플러스', '코스트코', f"{fake.company()} 대형마트", f"{fake.company()} 슈퍼마켓"] # 마트/슈퍼 
companyList4= ['롯데백화점','신세계백화점', '롯데아울렛', f"{fake.company()} 백화점"] # 백화점
companyList5= ['다이소','네이버쇼핑', '쿠팡', '11번가', '위메프', f"{fake.company()} 인터넷쇼핑몰"] # 생활용품, 인터넷/홈쇼핑
companyList6= ['GS25', 'CU', '이마트에브리데이', '7-Eleven', f"{fake.company()} 편의점"] # 편의점
companyList7= ['광명시장', '인왕시장', '모래내시장', '유진상가'] # 전통시장
companyList8= ['크린토피아', '월드크리닝', '크린에이드', f"{fake.company()} 서비스", f"{fake.company()} 세탁"] # 세탁소
companyList9= ['올리브영', '랄라블라', f"{fake.company()} 살롱", f"{fake.company()} 샵"] # 뷰티/미용
companyList10= ['관리비'] # 관리비
companyList11= ['통신비'] # 통신비
companyList12= ['공과금'] # 공과금
companyList13= [ f"{fake.company()} 짐", f"{fake.company()} 체육관", f"{fake.company()} 골프",f"{fake.company()} 스키장"] # 실내스포츠
companyList14= [ '교보문고', '알라딘', '영풍문고',f"{fake.company()} 서점",f"{fake.company()} 책방",f"{fake.company()} 북스"] # 실내스포츠
companyList15= ['CGV', '메가박스', '롯데시네마', '국립중앙박물관', '예술의전당', '예술의전당', f"{fake.company()} 영화관", f"{fake.company()} 박물관",  f"{fake.company()} 극장", f"{fake.company()} 아트홀"] #영화/공연
companyList18= ['하나투어', '한진투어', '노랑풍선', '인터파크투어', '참좋은여행', '모두투어', f"{fake.company()} 여행사"] # 여행사
companyList20= ['버스', '지하철'] # 대중교통
companyList21= ['택시', '카카오택시', '카카오택시', f"{fake.company()} 교통"] # 택시
companyList22= ['서울대병원', f"{fake.company()} 병원", f"{fake.company()} 의원", f"{fake.company()} 약국"] # 병원
companyList23= [f"{fake.company()} 입시", f"{fake.company()} 학원", f"{fake.company()} 교습소"] # 학원
companyList26= ['GS칼텍스', '현대오일뱅크', 'SK에너지', f"{fake.company()} 주유소"] # 주유소
companyList27= ['배달의민족', '쿠팡잇츠', '요기요'] # 배달
companyList28= ['TVING', '넷플릭스', 'WAVE', '디즈니플러스'] # 구독

In [24]:

transWeight_20_M_1=[]
transWeight_20_F_1=[]
transWeight_30_M_1=[]
transWeight_30_F_1=[]
transWeight_40_M_1=[]
transWeight_40_F_1=[]
transWeight_50_M_1=[]
transWeight_50_F_1=[]

for i in range(len(trancategory_1['20M'])):
    transWeight_20_M_1.append(trancategory_1['20M'][i])

for i in range(len(trancategory_1['20F'])):
    transWeight_20_F_1.append(trancategory_1['20F'][i])

for i in range(len(trancategory_1['30M'])):
    transWeight_30_M_1.append(trancategory_1['30M'][i])

for i in range(len(trancategory_1['30F'])):
    transWeight_30_F_1.append(trancategory_1['30F'][i])

for i in range(len(trancategory_1['40M'])):
    transWeight_40_M_1.append(trancategory_1['40M'][i])

for i in range(len(trancategory_1['40F'])):
    transWeight_40_F_1.append(trancategory_1['40F'][i])

for i in range(len(trancategory_1['50M'])):
    transWeight_50_M_1.append(trancategory_1['50M'][i])

for i in range(len(trancategory_1['50F'])):
    transWeight_50_F_1.append(trancategory_1['50F'][i])

transWeight_20_M_1=tuple(transWeight_20_M_1)
transWeight_20_F_1=tuple(transWeight_20_F_1)
transWeight_30_M_1=tuple(transWeight_30_M_1)
transWeight_30_F_1=tuple(transWeight_30_F_1)
transWeight_40_M_1=tuple(transWeight_40_M_1)
transWeight_40_F_1=tuple(transWeight_40_F_1)
transWeight_50_M_1=tuple(transWeight_50_M_1)
transWeight_50_F_1=tuple(transWeight_50_F_1)

In [25]:
def select_trans_weight_1(age, gender):
    if 20 <= age < 30:
        if gender == 'M':
            return transWeight_20_M_1
        elif gender == 'F':
            return transWeight_20_F_1
    elif 30 <= age < 40:
        if gender == 'M':
            return transWeight_30_M_1
        elif gender == 'F':
            return transWeight_30_F_1
    elif 40 <= age < 50:
        if gender == 'M':
            return transWeight_40_M_1
        elif gender == 'F':
            return transWeight_40_F_1
    elif 50 <= age < 60:
        if gender == 'M':
            return transWeight_50_M_1
        elif gender == 'F':
            return transWeight_50_F_1

    
    return transWeight_20_M_1

In [26]:
def gen_cost(costList,weightsList):
    cost=random.choices(costList, weights=weightsList,k=1)[0]
    return cost

In [27]:
def gen_date(start_date,end_date):
    
    random_date = start_date + timedelta(days=random.randint(0, (end_date - start_date).days))
    return random_date.strftime('%Y/%m/%d')


def gen_time(cust_start_hour, cust_start_minute, cust_end_hour, cust_end_minute):
    
    start_time_minutes = cust_start_hour * 60 + cust_start_minute
    end_time_minutes = cust_end_hour * 60 + cust_end_minute
    

    random_time_minutes = random.randint(start_time_minutes, end_time_minutes)

    random_hour = random_time_minutes // 60
    random_minute = random_time_minutes % 60

    return f'{random_hour:02d}:{random_minute:02d}:00'

In [28]:
trancategory

   category_id category1 category2   category3
0        hn001        외식        외식          한식
1        hn002        외식        외식    일식/양식/중식
2        hn003        외식        외식       패스트푸드
3        hn004     카페디저트     카페디저트         제과점
4        hn005     카페디저트     카페디저트       커피전문점
5        hn006        쇼핑        유통       마트/슈퍼
6        hn007        쇼핑        유통     백화점/아울렛
7        hn008        쇼핑        유통        생활용품
8        hn009        쇼핑        유통     인터넷/홈쇼핑
9        hn010        쇼핑        유통         편의점
10       hn011        쇼핑        유통        전통시장
11       hn012     생활/기타        생활         세탁소
12       hn013     생활/기타        생활       기타서비스
13       hn014     생활/기타     뷰티/미용       뷰티/미용
14       hn015     생활/기타        요금         관리비
15       hn016     생활/기타        요금          통신
16       hn017     생활/기타        요금         공과금
17       hn018     문화/레저        레저       실내스포츠
18       hn019     문화/레저        레저     실외골프/스키
19       hn020     문화/레저        레저      기타레저시설
20       hn021     문화/레저        문화          서점
21       hn022     문화/레저        문화       영화/공연
22       hn023     여행/숙박        숙박       호텔/콘도
23       hn024     여행/숙박        숙박  모텔/여관/기타숙박
24       hn025     여행/숙박        여행         여행사
25       hn026     여행/숙박        여행          항공
26       hn027    교통/자동차        교통        대중교통
27       hn028    교통/자동차        교통          택시
28       hn029     의료/건강        병원        종합병원
29       hn030     의료/건강        병원        일반병원
30       hn031     의료/건강        약국          약국
31       hn032        교육        교육          학원
32       hn033        교육        교육         대학교
33       hn034        교육        교육        유아교육
34       hn035    교통/자동차        주유   주유소/LPG충전
35       hn036        배달        배달          배달
36       hn037        구독        구독         OTT

In [29]:
trancategory.head()

  category_id category1 category2 category3
0       hn001        외식        외식        한식
1       hn002        외식        외식  일식/양식/중식
2       hn003        외식        외식     패스트푸드
3       hn004     카페디저트     카페디저트       제과점
4       hn005     카페디저트     카페디저트     커피전문점

In [30]:
# 고객가입일자
reg_start_day = 1
reg_start_month = 1
reg_start_year = 2016

reg_end_day = 30
reg_end_month = 5
reg_end_year = 2023

reg_start_date = datetime(reg_start_year, reg_start_month, reg_start_day)
reg_end_date = datetime(reg_end_year, reg_end_month, reg_end_day)

In [31]:
# 카드 등록일자
card_start_day = 1
card_start_month = 1
card_start_year = 2018


card_end_day = 1
card_end_month = 5
card_end_year = 2023

card_start_date = datetime(card_start_year, card_start_month, card_start_day)
card_end_date = datetime(card_end_year, card_end_month, card_end_day)


# 소비내역일자 3개월씩
cust_start_day1 = 1
cust_start_month1 = 10
cust_start_year1 = 2023

cust_end_day1 = 12
cust_end_month1 = 10
cust_end_year1 = 2023

cust_start_date = datetime(cust_start_year1, cust_start_month1, cust_start_day1)
cust_end_date = datetime(cust_end_year1, cust_end_month1, cust_end_day1)


# cust_start_day2 = 2
# cust_start_month2 = 6
# cust_start_year2 = 2023

# cust_end_day2 = 1
# cust_end_month2 = 9
# cust_end_year2 = 2023

# cust_start_date2 = datetime(cust_start_year2, cust_start_month2, cust_start_day2)
# cust_end_date2 = datetime(cust_end_year2, cust_end_month2, cust_end_day2)

cust_end_date

datetime.datetime(2023, 10, 12, 0, 0)

In [32]:
# customerSql = "INSERT INTO MEMBER(EMAIL, NAME,PASSWORD,PHONE,GENDER,ADDRESS,IDENTITYNUM,AGE,REGDATE) VALUES(:1,:2,:3,:4,:5,:6,:7,:8,:9)"
cardSql = "INSERT INTO CARD_TRANSACTION(CARD_NUMBER,MEMBER_ID,CVC,CARDPASSWORD,CARD_PERIOD,CARD_ID,CARD_TYPE,FINANCE_ID) VALUES(:1,:2,:3,:4,:5,:6,:7,:8)"
memberTranSql = "INSERT INTO CARD_TRANSACTION (TRANSACTION_ID, MEMBER_ID, CARD_NUMBER, CATEGORY_BIG, CATEGORY, STORE, CARDTRANDATE, CARDTRANTIME, AMOUNT,FINANCE_ID) VALUES (CARD_TRAN_ID_SEQ.nextval, :1, :2, :3, :4, :5, :6, :7, :8, :9)"
hometaxTranSql = "INSERT INTO HOMETAX_TRANSACTION (MEMBER_ID, CATEGORY, STORE, TRANDATE, TRANTIME, AMOUNT, CATEGORY_BIG, CATEGORY) VALUES (:1, :2, :3, :4, :5, :6, :7, :8)"

In [33]:
identity = fake.ssn()
calAge = '19'+identity[0:2]
age = 2023-int(calAge)
print(age)
if age<20  or age>85:
    print("mm")

119
mm

In [34]:
def generate_card_history(cursor,  memberId, cardnumber, target_category1, cat, cust_start_date, cust_end_date, financeId):

    if cat in serviceList1: # 한식, 일식/중식/양식
        print("-----------------",cat)
        cursor.execute(memberTranSql, (memberId, cardnumber, target_category1, cat, random.choice(companyList1),gen_date(cust_start_date,cust_end_date),gen_time(11,30,20,30),gen_cost(costList1,weightsList1),financeId))
    elif cat in serviceList2:  # 제과점, 커피전문점, 패스트푸드
        cursor.execute(memberTranSql, (memberId, cardnumber, target_category1, cat, random.choice(companyList2),gen_date(cust_start_date,cust_end_date),gen_time(8,30,21,30),gen_cost(costList2,weightsList2),financeId))
    elif cat in serviceList3: # 마트/슈퍼
        cursor.execute(memberTranSql, (memberId, cardnumber,target_category1, cat, random.choice(companyList3),gen_date(cust_start_date,cust_end_date),gen_time(19,30,21,30),gen_cost(costList3,weightsList3),financeId))
    elif cat in serviceList4: # 백화점/아울렛
        cursor.execute(memberTranSql, (memberId, cardnumber, target_category1, cat, random.choice(companyList4),gen_date(cust_start_date,cust_end_date),gen_time(21,00,24,00),gen_cost(costList4,weightsList4),financeId))
    elif cat in serviceList5: # 생활용품, 인터넷/홈쇼핑
        cursor.execute(memberTranSql, (memberId, cardnumber, target_category1, cat, random.choice(companyList5),gen_date(cust_start_date,cust_end_date),gen_time(20,00,24,00),gen_cost(costList5,weightsList5),financeId))
    elif cat in serviceList6: # 편의점
        cursor.execute(memberTranSql, (memberId, cardnumber, target_category1, cat, random.choice(companyList6),gen_date(cust_start_date,cust_end_date),gen_time(11,30,20,00),random.randint(20, 300)*100,financeId))
    elif cat in serviceList7: # 전통시장 
        cursor.execute(memberTranSql, (memberId, cardnumber, target_category1, cat, random.choice(companyList7),gen_date(cust_start_date,cust_end_date),gen_time(10,30,21,30),gen_cost(costList7,weightsList7),financeId))
    elif cat in serviceList8: # 세탁소, 기타서비스
        cursor.execute(memberTranSql, (memberId, cardnumber, target_category1, cat, random.choice(companyList8),gen_date(cust_start_date,cust_end_date),gen_time(11,30,18,00),random.randint(20, 100)*100,financeId))
    elif cat in serviceList9: # 뷰티/미용
        cursor.execute(memberTranSql, (memberId, cardnumber, target_category1, cat, random.choice(companyList9),gen_date(cust_start_date,cust_end_date),gen_time(9,30,20,30),gen_cost(costList9,weightsList9),financeId))
    elif cat in serviceList10: # 관리비
        cursor.execute(memberTranSql, (memberId, cardnumber, target_category1, cat, random.choice(companyList10),gen_date(cust_start_date,cust_end_date),gen_time(00,00,24,00),gen_cost(costList10,weightsList10),financeId))
    elif cat in serviceList11: # 통신
        cursor.execute(memberTranSql, (memberId, cardnumber, target_category1, cat, random.choice(companyList11),gen_date(cust_start_date,cust_end_date),gen_time(11,30,21,00),gen_cost(costList11,weightsList11),financeId))
    elif cat in serviceList12: # 공과금
        cursor.execute(memberTranSql, (memberId, cardnumber, target_category1, cat, random.choice(companyList12),gen_date(cust_start_date,cust_end_date),gen_time(10,30,21,30),gen_cost(costList12,weightsList12),financeId))
    elif cat in serviceList13: # 실내골프/헬스 실외골프/스키 스포츠시설 종합레저시설
        cursor.execute(memberTranSql, (memberId, cardnumber, target_category1, cat, random.choice(companyList13),gen_date(cust_start_date,cust_end_date),gen_time(10,30,20,30),random.randint(20, 100)*100,financeId))
    elif cat in serviceList14: # 서점 
        cursor.execute(memberTranSql, (memberId, cardnumber, target_category1, cat, random.choice(companyList14),gen_date(cust_start_date,cust_end_date),gen_time(16,30,21,30),random.randint(100, 400)*100,financeId))
    elif cat in serviceList15: # 영화/공연 
        cursor.execute(memberTranSql, (memberId, cardnumber, target_category1, cat, random.choice(companyList15),gen_date(cust_start_date,cust_end_date),gen_time(18,30,22,00),gen_cost(costList15,weightsList15),financeId))
    # elif cat in serviceList16: # 호텔/콘도
    #     cursor.execute(memberTranSql, (memberId, cardnumber, target_category1, cat, fake.company(),gen_date(cust_start_date,cust_end_date),gen_time(19,30,20,30),random.randint(200, 300)*1000,financeId))
    # elif cat in serviceList17: # 모텔/여관/기타숙박
    #     cursor.execute(memberTranSql, (memberId, cardnumber, target_category1, cat, fake.company(),gen_date(cust_start_date,cust_end_date),gen_time(11,30,21,30),random.randint(200, 500)*100,financeId))
    # elif cat in serviceList18: # 여행사
    #     cursor.execute(memberTranSql, (memberId, cardnumber, target_category1, cat, random.choice(companyList18),gen_date(cust_start_date,cust_end_date),gen_time(15,00,18,30),random.randint(100, 300)*100,financeId))
    # elif cat in serviceList19: # 항공1
    #     cursor.execute(memberTranSql, (cardnumber,cat, fake.company(),gen_date(cust_start_date,cust_end_date),gen_time(19,30,24,00),random.randint(100, 1000)*1000))
    elif cat in serviceList20: # 대중교통
        cursor.execute(memberTranSql, (memberId, cardnumber, target_category1, cat, random.choice(companyList20),gen_date(cust_start_date,cust_end_date),gen_time(9,30,17,30),gen_cost(costList20,weightsList20),financeId))
    elif cat in serviceList21: # 택시
        cursor.execute(memberTranSql, (memberId, cardnumber, target_category1, cat, random.choice(companyList21),gen_date(cust_start_date,cust_end_date),gen_time(17,30,21,30),gen_cost(costList21,weightsList21),financeId))
    elif cat in serviceList22: # 종합병원, 일반병원, 약국 1
        cursor.execute(memberTranSql, (memberId, cardnumber, target_category1, cat, random.choice(companyList22),gen_date(cust_start_date,cust_end_date),gen_time(11,30,20,30),random.randint(40, 200)*100,financeId))
    elif cat in serviceList23: # 학원
        cursor.execute(memberTranSql, (memberId, cardnumber, target_category1, cat, random.choice(companyList23),gen_date(cust_start_date,cust_end_date),gen_time(11,30,20,30),gen_cost(costList23,weightsList23),financeId))
    # elif cat in serviceList24: # 대학교
    #     cursor.execute(memberTranSql, (cardnumber,cat, fake.company(),gen_date(cust_start_date,cust_end_date),gen_time(7,30,23,00),gen_cost(costList24,weightsList24)))
    elif cat in serviceList25: # 유아교육
        cursor.execute(memberTranSql, (memberId, cardnumber, target_category1, cat, fake.company(),gen_date(cust_start_date,cust_end_date),gen_time(10,30,20,30),gen_cost(costList25,weightsList25),financeId))
    elif cat in serviceList26: # 주유소
        cursor.execute(memberTranSql, (memberId, cardnumber, target_category1, cat, random.choice(companyList26),gen_date(cust_start_date,cust_end_date),gen_time(10,30,17,30),gen_cost(costList26,weightsList26),financeId))
    # elif cat in serviceList27: # 배달
    #     cursor.execute(memberTranSql, (memberId, cardnumber, target_category1, cat, random.choice(companyList27),gen_date(cust_start_date,cust_end_date),gen_time(10,30,17,30),gen_cost(costList27,weightsList27),financeId))
    elif cat in serviceList28: # 구독
        cursor.execute(memberTranSql, (memberId, cardnumber, target_category1, cat, random.choice(companyList28),gen_date(cust_start_date,cust_end_date),gen_time(10,30,17,30),gen_cost(costList28,weightsList28),financeId))

In [35]:
# 대중교통 
def generate_card_history2(cursor,  memberId, cardnumber, target_category1, cat, cust_start_date, cust_end_date, financeId):
    # if cat in serviceList1: # 한식, 일식/중식/양식
    #     print("-----------------",cat)
    #     cursor.execute(memberTranSql, (memberId, cardnumber, cat, random.choice(companyList1),gen_date(cust_start_date,cust_end_date),gen_time(11,30,20,30),gen_cost(costList1,weightsList1),financeId))
    # elif cat in serviceList2:  # 제과점, 커피전문점, 패스트푸드
    #     cursor.execute(memberTranSql, (memberId, cardnumber,cat, random.choice(companyList2),gen_date(cust_start_date,cust_end_date),gen_time(8,30,21,30),gen_cost(costList2,weightsList2),financeId))
    # elif cat in serviceList3: # 마트/슈퍼
    #     cursor.execute(memberTranSql, (memberId, cardnumber,cat, random.choice(companyList3),gen_date(cust_start_date,cust_end_date),gen_time(19,30,21,30),gen_cost(costList3,weightsList3),financeId))
    # elif cat in serviceList4: # 백화점/아울렛
    #     cursor.execute(memberTranSql, (memberId, cardnumber,cat, random.choice(companyList4),gen_date(cust_start_date,cust_end_date),gen_time(21,00,24,00),gen_cost(costList4,weightsList4),financeId))
    # elif cat in serviceList5: # 생활용품, 인터넷/홈쇼핑
    #     cursor.execute(memberTranSql, (memberId, cardnumber,cat, random.choice(companyList5),gen_date(cust_start_date,cust_end_date),gen_time(20,00,24,00),gen_cost(costList5,weightsList5),financeId))
    # elif cat in serviceList6: # 편의점
    #     cursor.execute(memberTranSql, (memberId, cardnumber,cat, random.choice(companyList6),gen_date(cust_start_date,cust_end_date),gen_time(11,30,20,00),random.randint(20, 300)*100,financeId))
    if cat in serviceList7: # 전통시장 
        cursor.execute(memberTranSql, (memberId, cardnumber, target_category1, cat, random.choice(companyList7),gen_date(cust_start_date,cust_end_date),gen_time(10,30,21,30),gen_cost(costList7,weightsList7),financeId))
    # elif cat in serviceList8: # 세탁소, 기타서비스
    #     cursor.execute(memberTranSql, (memberId, cardnumber,cat, random.choice(companyList8),gen_date(cust_start_date,cust_end_date),gen_time(11,30,18,00),random.randint(20, 100)*100,financeId))
    # elif cat in serviceList9: # 뷰티/미용
    #     cursor.execute(memberTranSql, (memberId, cardnumber,cat, random.choice(companyList9),gen_date(cust_start_date,cust_end_date),gen_time(9,30,20,30),gen_cost(costList9,weightsList9),financeId))
    # elif cat in serviceList10: # 관리비
    #     cursor.execute(memberTranSql, (memberId, cardnumber,cat, random.choice(companyList10),gen_date(cust_start_date,cust_end_date),gen_time(00,00,24,00),gen_cost(costList10,weightsList10),financeId))
    # elif cat in serviceList11: # 통신
    #     cursor.execute(memberTranSql, (memberId, cardnumber,cat, random.choice(companyList11),gen_date(cust_start_date,cust_end_date),gen_time(11,30,21,00),gen_cost(costList11,weightsList11),financeId))
    # elif cat in serviceList12: # 공과금
    #     cursor.execute(memberTranSql, (memberId, cardnumber,cat, random.choice(companyList12),gen_date(cust_start_date,cust_end_date),gen_time(10,30,21,30),gen_cost(costList12,weightsList12),financeId))
    # elif cat in serviceList13: # 실내골프/헬스 실외골프/스키 스포츠시설 종합레저시설
    #     cursor.execute(memberTranSql, (memberId, cardnumber,cat, random.choice(companyList13),gen_date(cust_start_date,cust_end_date),gen_time(10,30,20,30),random.randint(20, 100)*100,financeId))
    # if cat in serviceList14: # 서점 
    #     cursor.execute(memberTranSql, (memberId, cardnumber,cat, random.choice(companyList14),gen_date(cust_start_date,cust_end_date),gen_time(16,30,21,30),random.randint(100, 400)*100,financeId))
    # elif cat in serviceList15: # 영화/공연 
    #     cursor.execute(memberTranSql, (memberId, cardnumber,cat, random.choice(companyList15),gen_date(cust_start_date,cust_end_date),gen_time(18,30,22,00),gen_cost(costList15,weightsList15),financeId))
    # elif cat in serviceList16: # 호텔/콘도
    #     cursor.execute(memberTranSql, (memberId, cardnumber,cat, fake.company(),gen_date(cust_start_date,cust_end_date),gen_time(19,30,20,30),random.randint(200, 300)*1000,financeId))
    # elif cat in serviceList17: # 모텔/여관/기타숙박
    #     cursor.execute(memberTranSql, (memberId, cardnumber,cat, fake.company(),gen_date(cust_start_date,cust_end_date),gen_time(11,30,21,30),random.randint(200, 500)*100,financeId))
    # elif cat in serviceList18: # 여행사
    #     cursor.execute(memberTranSql, (memberId, cardnumber,cat, random.choice(companyList18),gen_date(cust_start_date,cust_end_date),gen_time(15,00,18,30),random.randint(100, 300)*100,financeId))
    # elif cat in serviceList19: # 항공1
    #     cursor.execute(memberTranSql, (cardnumber,cat, fake.company(),gen_date(cust_start_date,cust_end_date),gen_time(19,30,24,00),random.randint(100, 1000)*1000))
    # if cat in serviceList20: # 대중교통
    #     cursor.execute(memberTranSql, (memberId, cardnumber,cat, random.choice(companyList20),gen_date(cust_start_date,cust_end_date),gen_time(9,30,17,30),gen_cost(costList20,weightsList20),financeId))
    # elif cat in serviceList21: # 택시
    #     cursor.execute(memberTranSql, (memberId, cardnumber,cat, random.choice(companyList21),gen_date(cust_start_date,cust_end_date),gen_time(17,30,21,30),gen_cost(costList21,weightsList21),financeId))
    # elif cat in serviceList22: # 종합병원, 일반병원, 약국 1
    #     cursor.execute(memberTranSql, (memberId, cardnumber,cat, random.choice(companyList22),gen_date(cust_start_date,cust_end_date),gen_time(11,30,20,30),random.randint(40, 200)*100,financeId))
    # elif cat in serviceList23: # 학원
    #     cursor.execute(memberTranSql, (memberId, cardnumber,cat, random.choice(companyList23),gen_date(cust_start_date,cust_end_date),gen_time(11,30,20,30),gen_cost(costList23,weightsList23),financeId))
    # # elif cat in serviceList24: # 대학교
    # #     cursor.execute(memberTranSql, (cardnumber,cat, fake.company(),gen_date(cust_start_date,cust_end_date),gen_time(7,30,23,00),gen_cost(costList24,weightsList24)))
    # elif cat in serviceList25: # 유아교육
    #     cursor.execute(memberTranSql, (memberId, cardnumber,cat, fake.company(),gen_date(cust_start_date,cust_end_date),gen_time(10,30,20,30),gen_cost(costList25,weightsList25),financeId))
    # elif cat in serviceList26: # 주유소
    #     cursor.execute(memberTranSql, (memberId, cardnumber,cat, random.choice(companyList26),gen_date(cust_start_date,cust_end_date),gen_time(10,30,17,30),gen_cost(costList26,weightsList26),financeId))

In [36]:
# gha
def generate_card_history3(cursor,  memberId, cat, cust_start_date, cust_end_date, target_category1, classification):
    # if cat in serviceList1: # 한식, 일식/중식/양식
    #     print("-----------------",cat)
    #     cursor.execute(hometaxTranSql, (memberId, cat, random.choice(companyList1),gen_date(cust_start_date,cust_end_date),gen_time(11,30,20,30),gen_cost(costList1,weightsList1)))
    # elif cat in serviceList2:  # 제과점, 커피전문점, 패스트푸드
    #     cursor.execute(hometaxTranSql, (memberId, cat, random.choice(companyList2),gen_date(cust_start_date,cust_end_date),gen_time(8,30,21,30),gen_cost(costList2,weightsList2)))
    # elif cat in serviceList3: # 마트/슈퍼
    #     cursor.execute(hometaxTranSql, (memberId, cat, random.choice(companyList3),gen_date(cust_start_date,cust_end_date),gen_time(19,30,21,30),gen_cost(costList3,weightsList3)))

    # elif cat in serviceList6: # 편의점
    #     cursor.execute(hometaxTranSql, (memberId, cat, random.choice(companyList6),gen_date(cust_start_date,cust_end_date),gen_time(11,30,20,00),random.randint(20, 300)*100))
    if cat in serviceList7: # 전통시장 
        cursor.execute(hometaxTranSql, (memberId, cat, random.choice(companyList7),gen_date(cust_start_date,cust_end_date),gen_time(10,30,21,30),gen_cost(costList7,weightsList7),target_category1, classification))
    elif cat in serviceList14: # 서점 
        cursor.execute(hometaxTranSql, (memberId, cat, random.choice(companyList14),gen_date(cust_start_date,cust_end_date),gen_time(16,30,21,30),random.randint(100, 400)*100, target_category1, classification))
    elif cat in serviceList15: # 영화/공연 
        cursor.execute(hometaxTranSql, (memberId, cat, random.choice(companyList15),gen_date(cust_start_date,cust_end_date),gen_time(18,30,22,00),gen_cost(costList15,weightsList15),target_category1, classification))
   
    # elif cat in serviceList26: # 주유소
    #     cursor.execute(hometaxTranSql, (memberId, cat, random.choice(companyList26),gen_date(cust_start_date,cust_end_date),gen_time(10,30,17,30),gen_cost(costList26,weightsList26)))

In [52]:
# 음식 생활 카페
def generate_card_history4(cursor,  memberId, cardnumber, target_category1, cat, cust_start_date, cust_end_date, financeId):
    # if cat in serviceList1: # 한식, 일식/중식/양식
    #     cursor.execute(memberTranSql, (memberId, cardnumber, target_category1, cat, random.choice(companyList1),gen_date(cust_start_date,cust_end_date),gen_time(11,30,20,30),gen_cost(costList1,weightsList1),financeId))
    # elif cat in serviceList2:  # 제과점, 커피전문점, 패스트푸드
    #     cursor.execute(memberTranSql, (memberId, cardnumber, target_category1, cat, random.choice(companyList2),gen_date(cust_start_date,cust_end_date),gen_time(8,30,21,30),gen_cost(costList2,weightsList2),financeId))
    # elif cat in serviceList3: # 마트/슈퍼
    #     cursor.execute(memberTranSql, (memberId, cardnumber, target_category1, cat, random.choice(companyList3),gen_date(cust_start_date,cust_end_date),gen_time(19,30,21,30),gen_cost(costList3,weightsList3),financeId))
    # elif cat in serviceList5: # 생활용품, 인터넷/홈쇼핑
    #     cursor.execute(memberTranSql, (memberId, cardnumber, target_category1, cat, random.choice(companyList5),gen_date(cust_start_date,cust_end_date),gen_time(20,00,24,00),gen_cost(costList5,weightsList5),financeId))
    # elif cat in serviceList6: # 편의점
    #     cursor.execute(memberTranSql, (memberId, cardnumber, target_category1, cat, random.choice(companyList6),gen_date(cust_start_date,cust_end_date),gen_time(11,30,20,00),random.randint(20, 300)*100,financeId))
    if cat in serviceList22: # 종합병원, 일반병원, 약국 1
        cursor.execute(memberTranSql, (memberId, cardnumber, target_category1, cat, random.choice(companyList22),gen_date(cust_start_date,cust_end_date),gen_time(11,30,20,30),random.randint(40, 200)*100,financeId))
    # elif cat in serviceList23: # 학원
    #     cursor.execute(memberTranSql, (memberId, cardnumber, target_category1, cat, random.choice(companyList23),gen_date(cust_start_date,cust_end_date),gen_time(11,30,20,30),gen_cost(costList23,weightsList23),financeId))
    # elif cat in serviceList27: # 배달
    #     cursor.execute(memberTranSql, (memberId, cardnumber, target_category1, cat, random.choice(companyList27),gen_date(cust_start_date,cust_end_date),gen_time(11,30,20,30),gen_cost(costList27,weightsList27),financeId))
    elif cat in serviceList28: # 구독
        cursor.execute(memberTranSql, (memberId, cardnumber, target_category1, cat, random.choice(companyList28),gen_date(cust_start_date,cust_end_date),gen_time(11,30,20,30),gen_cost(costList28,weightsList28),financeId))

In [54]:

# connection = cx_Oracle.connect(user='scott', password='tiger', dsn='192.168.119.119:1521/dink11.dbsvr')
# cursor = connection.cursor()

# cx_Oracle.init_oracle_client(lib_dir=r"C:\oracle\instantclient_19_20")

connection = cx_Oracle.connect(
    user='ADMIN', password='Kopodapass2023!', dsn='jieuncloud_high')
cursor = connection.cursor()


memberCnt=0
while(memberCnt<=1):
    
    # 멤버 정보 만들기
    name = ''
    address = fake.address()
    regDate = gen_date(reg_start_date,reg_end_date)
    identity = fake.ssn()
    password = fake.password() 
    gender =''
    phonenumber = fake.phone_number()
    email = fake.unique.ascii_free_email()
    calAge = '19'+identity[0:2]
    age = 2023-int(calAge)


    if age<20  or age>85:
            continue
        
    memberCnt=memberCnt+1
        
        
    if(identity[7:].startswith('1') or identity[7:].startswith('3')):
            gender = "M"
            name = fake.name_male()
    else:
            gender = "F"
            name = fake.name_female()

    # cursor.execute(customerSql,(email,name,password,phonenumber,gender,address,identity,age,regDate))
    



    # card정보만들기
    cardRegDate = gen_date(card_start_date, card_end_date)

    # cardnumber = str(random.randrange(1000,9999)) + "-" +  str(random.randrange(1000,9999))  + "-" +str(random.randrange(1000,9999)) + "-" + str(random.randrange(1000,9999))
    # cardnumber = "4773-2104-1037-9723" # 모두의 일상 체크카드
    # cardnumber = "4152-7880-0166-2640" # 원큐 신용카드
    cardnumber = "4882-4508-9103-4565" # 원더카드 신용카드

    # 타사카드
    # cardnumber = "9410-9862-0234-1298" # 신한
    # cardnumber = "5409-2761-3390-2094" # 국민_펭수체크
    # cardnumber = "5112-3521-1987-2082" # 국민_신용

    memberId = 23
    financeId = "F004"# 하나
    # financeId = "F001"# 국민
    # financeId = "F002"# 신한

    cvc = str(random.randrange(100,999))

    cardpassword = str(random.randrange(1000,9999))


    # cursor.execute(cardSql,(cardnumber,email,cardCVC,cardimport))


import csv
from faker import Faker
import random

# fake = Faker()
fake = Faker('ko_KR')
    
    # 소비내역 만들기
address = fake.company()    
splitted_address = address.split()
storeAddress=splitted_address[0]
    
    
for i in range(10):
    cat=random.choices(tranCategory,weights=select_trans_weight_1(30,"M"),k=1)[0]
    filtered_rows = trancategory[trancategory['category3'] == cat]
    target_category1 = filtered_rows.iloc[0]['category1']
    generate_card_history4(cursor, memberId, cardnumber, target_category1, cat, cust_start_date, cust_end_date, financeId)

    print("cat",cat)


    # cat2=random.choices(tranCategory,weights=select_trans_weight_2(age,gender),k=1)[0]
    # generate_card_history(cursor, cardnumber, cat2, storeAddress, cust_start_date2, cust_end_date2)
            
    
    if (memberCnt%50)==0:
        print(memberCnt)
        connection.commit()
              
connection.commit()
cursor.close()
connection.close()

cat 뷰티/미용
cat 제과점
cat 종합병원
cat 커피전문점
cat 배달
cat 인터넷/홈쇼핑
cat 일반병원
cat 실외골프/스키
cat 일식/양식/중식
cat 배달

In [39]:

# # connection = cx_Oracle.connect(user='scott', password='tiger', dsn='192.168.119.119:1521/dink11.dbsvr')
# # cursor = connection.cursor()

# # cx_Oracle.init_oracle_client(lib_dir=r"C:\oracle\instantclient_19_20")

# connection = cx_Oracle.connect(
#     user='ADMIN', password='Kopodapass2023!', dsn='jieuncloud_high')
# cursor = connection.cursor()


# memberCnt=0
# while(memberCnt<=1):
    
#     # 멤버 정보 만들기
#     name = ''
#     address = fake.address()
#     regDate = gen_date(reg_start_date,reg_end_date)
#     identity = fake.ssn()
#     password = fake.password() 
#     gender =''
#     phonenumber = fake.phone_number()
#     email = fake.unique.ascii_free_email()
#     calAge = '19'+identity[0:2]
#     age = 2023-int(calAge)


#     if age<20  or age>85:
#             continue
        
#     memberCnt=memberCnt+1
        
        
#     if(identity[7:].startswith('1') or identity[7:].startswith('3')):
#             gender = "M"
#             name = fake.name_male()
#     else:
#             gender = "F"
#             name = fake.name_female()

#     # cursor.execute(customerSql,(email,name,password,phonenumber,gender,address,identity,age,regDate))
    



#     # card정보만들기
#     cardRegDate = gen_date(card_start_date, card_end_date)

#     # cardnumber = str(random.randrange(1000,9999)) + "-" +  str(random.randrange(1000,9999))  + "-" +str(random.randrange(1000,9999)) + "-" + str(random.randrange(1000,9999))
#     # cardnumber = "4773-2104-1037-9723" # 체크카드
#     # cardnumber = "4152-7880-0166-2640" # 신용카드
#     cardnumber = "4882-4508-9103-4565" # 신용카드

#     # 타사카드
#     # cardnumber = "9410-9862-0234-1298" # 신한
#     # cardnumber = "5409-2761-3390-2094" # 국민

#     memberId = 23
#     financeId = "F004"# 하나
#     # financeId = "F001"# 국민
#     # financeId = "F002"# 신한

#     cvc = str(random.randrange(100,999))

#     cardpassword = str(random.randrange(1000,9999))


#     # cursor.execute(cardSql,(cardnumber,email,cardCVC,cardimport))


# import csv
# from faker import Faker
# import random

# # fake = Faker()
# fake = Faker('ko_KR')
    
#     # 소비내역 만들기
# address = fake.company()    
# splitted_address = address.split()
# storeAddress=splitted_address[0]
    
    
# for i in range(100):
#     cat=random.choices(tranCategory,weights=select_trans_weight_1(30,"M"),k=1)[0]
#     filtered_rows = trancategory[trancategory['category3'] == cat]
#     # target_category_big = filtered_rows.iloc[0]['category1']
#     generate_card_history4(cursor, memberId, cat, cust_start_date, cust_end_date)

#     print("cat",cat)


#     # cat2=random.choices(tranCategory,weights=select_trans_weight_2(age,gender),k=1)[0]
#     # generate_card_history(cursor, cardnumber, cat2, storeAddress, cust_start_date2, cust_end_date2)
            
    
#     if (memberCnt%50)==0:
#         print(memberCnt)
#         connection.commit()
              
# connection.commit()
# cursor.close()
# connection.close()

In [40]:
print(hometaxTranSql)

INSERT INTO HOMETAX_TRANSACTION (MEMBER_ID, CATEGORY, STORE, TRANDATE, TRANTIME, AMOUNT) VALUES (:1, :2, :3, :4, :5, :6)

In [41]:
# memberTranSql = "INSERT INTO MEMBER_TRANSACTION (TRANSACTION_ID, CARD_NUMBER, CATEGORY3, STORE, CARDTRANDATE, CARDTRANTIME, AMOUNT) VALUES (MEMBER_TRAN_ID_SEQ.NEXTVAL,:1, :2, :3, :4,:5, :6)"

In [42]:
# import cx_Oracle

# # 데이터베이스 연결
# connection = cx_Oracle.connect(
#     user='ADMIN', password='Kopodapass2023!', dsn='jieuncloud_high')

# # 커서 생성
# cursor = connection.cursor()

# # SQL 쿼리
# memberTranSql2 = """
#     INSERT INTO MEMBER_TRANSACTION 
#     (TRANSACTION_ID, CARD_NUMBER, CATEGORY3, STORE, CARDTRANDATE, CARDTRANTIME, AMOUNT) 
#     VALUES 
#     (MEMBER_TRAN_ID_SEQ.NEXTVAL, :1, :2, :3, :4, :5, :6)
# """

# # 데이터 설정
# data = (
#     "4152-7880-0166-2640",
#     "한식",
#     "김가네",
#     "2023-09-30",
#     "16:40:30",
#     8000
# )

# # SQL 실행
# cursor.execute(memberTranSql2, data)

# # 변경사항 저장
# connection.commit()

# # 커서와 연결 종료
# cursor.close()
# connection.close()

In [43]:
cat=random.choices(tranCategory,weights=select_trans_weight_1(age,gender),k=1)[0]
print(cat)

생활용품

In [44]:
# for i in range(500):
#     cat1=random.choices(tranCategory,weights=select_trans_weight_1(age,gender),k=1)[0]
#     print("Calling generate_card_history with cat:", cat)  # 추가된 print 문
#     generate_card_history(cursor, cardnumber, cat1, storeAddress, cust_start_date, cust_end_date)
#     print("generatehistory : ",generate_card_history)

In [45]:
filtered_rows = trancategory[trancategory['category3'] == cat]
print(filtered_rows)

  category_id category1 category2 category3
7       hn008        쇼핑        유통      생활용품

In [46]:
num_items = trancategory.shape[0]  # 데이터프레임의 행 수를 가져옵니다.
print("trancategory 항목의 수:", num_items)

trancategory 항목의 수: 37

In [47]:
# 함수 호출
weights = select_trans_weight_1(age, gender)

# 반환된 가중치(weights)의 수 확인
num_weights = len(weights)
print("반환된 가중치(weights)의 수:", num_weights)

반환된 가중치(weights)의 수: 37

In [48]:
cat1=random.choices(tranCategory,weights=select_trans_weight_1(age,gender))
print(cat1)

['OTT']

In [49]:
cat1=random.choices(tranCategory,weights=select_trans_weight_1(age,gender),k=1)[0]
print(cat1)

통신

In [50]:

cat=random.choices(tranCategory,weights=select_trans_weight_1(20,'F'),k=1)[0]

print(cat)

커피전문점